* {
    padding: 0;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #2980b9;
}

nav {
    width: 100%;
    height: 10vh;
    align-self: flex-start;
    background: #2980b9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: fixed
}

nav .ct {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

nav .bt {
    width: 10%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav .bt #log_out_bt {
    color: white;
    cursor: pointer;
}

nav .search {
    width: 70%;
}

nav label#bin {
    color: white;
    cursor: pointer;
}

nav .search input {
    border: none;
    border-radius: 5px 0 0 5px;
    width: 100%;
    height: 2.5em;
    padding: 0 1%;
}

nav .bt label#search {
    background: #34495e;
    color: white;
    padding: .5px;
    height: 2em;
    width: 50%;
    margin-left: 0;
    display: flex;
    border-radius: 0 5px 5px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 0px 0px #2c3e50;
    cursor: pointer;
    transition: .5s;
}

nav .bt label#search:hover {
    box-shadow: -5px 0 0;
    transition: .5s;
}

.cntNT {
    width: 70%;
    height: auto;
    margin-top: 11.5vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}

.cntNT .note {
    width: 47%;
    height: auto;
    background: whitesmoke;
    align-self: flex-start;
    border-radius: 10px;
    padding: .7em;
    margin-bottom: 2em;
}

.cntNT .note .title-nt {
    width: 99%;
    text-align: left;
    padding: .9em 0;
}

.cntNT .cnt {
    width: 95%;
    text-align: justify;
}

.cntNT .opcs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin-top: 1em;
}

.cntNT .opcs label {
    cursor: pointer;
    color: white;
}

.cntNT .opcs .update,
.cntNT .opcs .del {
    margin-left: 0;
    background: #2980b9;
    padding: .3em .5em;
    border-radius: 5px;
}

.cntNT .opcs .del {
    margin-right: 0;
    background: #e74c3c;
}

.add {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #2c3e50;
    margin-bottom: 5px;
    margin-left: 5px;
    align-self: flex-end;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.add:hover {
    transition: .5s;
    box-shadow: 0 0 0;
}

.add .bt {
    width: 25px;
    height: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: 1s;
    overflow: visible;
}

.btds {
    width: 100%;
    height: 5px;
    background: white;
    border-radius: 5px;

}

.btds.b {
    transform: rotateZ(90deg);
    transform-origin: center;
    position: absolute;
    width: 25px;
}


.hide-bt .bt {
    transform-origin: center;
    transform: rotateZ(45deg);
}

.bin {
    width: 20vw;
    height: 100vh;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    margin-left: 100vw;
    /*80vw*/
    overflow-y: scroll;
    transition: .5s;
}

.bin-show {
    margin-left: 80vw;
}

.bin .bt-close {
    width: 100%;
    padding: 5px;
}

.danger-lb {
    color: #e74c3c;
    opacity: .7;
    cursor: pointer;
}

.safe-lb {
    color: #2ecc71;
    opacity: .7;
    cursor: pointer;
}

.bin-cnt {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.bin-note {
    width: 90%;
    height: auto;
    background: white;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.bin-note .title {
    font-weight: 550;
}

.bin-note .cnt-prev {
    padding: 2px 0;
}

.bin-note .bts {
    padding-top: 8px;
    display: flex;
    flex-wrap: wrap;
}

.notecreate {
    width: 40%;
    height: 50vh;
    background: #2980b9;
    position: absolute;
    margin-left: 0;
    border-radius: 0 5px 0 0;
    /*align-self: flex-end;*/
    margin-top: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 2px -2px 5px rgba(0, 0, 0, 0.2);
    transition: .5s;
}

.notecreate-show {
    margin-top: 50vh;
}

.notecreate .tt,
.notecreate .txt {
    width: 100%;
    display: flex;
    align-items: center;
}

.notecreate .tt input,
.notecreate .txt textarea,
.notecreate .bts {
    width: 95%;
    height: auto;
    border-radius: 5px;
    border: none;
    padding: 1em;
}

.notecreate .txt textarea {
    width: 90%;
}

.notecreate .bts {
    width: auto;
    margin-right: 5px;
}

.notecreate .bts label {
    color: white;
    cursor: pointer;
    margin-right: 0;
    padding: .5em;
    background: #2c3e50;
    border-radius: 5px;
}

@media (min-width: 300px) and (max-width: 500px) {
    .notecreate {
        width: 100vw;
        height: 100vh;
        margin-top: 100vh;
    }

    .notecreate-show {
        margin-top: 0;
    }

    nav .search {
        width: 30%;
    }

    nav .bt {
        width: 23.33%;
    }

    .bin {
        width: 40vw;
        margin-left: 100vw;
    }

    .bin-show {
        margin-left: 60vw;
    }
}